<div class="example-container">
    <form [formGroup]="form" (ngSubmit)='onsubmit()'>
        <p>
            <mat-form-field>

                <input matInput placeholder="cin" formControlName="cin" required>


            </mat-form-field>
        </p>
        <p>
            <mat-form-field>

                <input matInput placeholder="name" formControlName="name" required>

            </mat-form-field>
        </p>
        <p>
            <mat-form-field>

                <input matInput placeholder="cv" formControlName="cv" required>

            </mat-form-field>
        </p>
        <p>
            <mat-form-field>

                <input matInput placeholder="type" formControlName="type" required>

            </mat-form-field>
        </p>
        <button type="submit">Create Member</button>
    </form>





</div>